
body {
    overflow: hidden;
}

.card {
    margin-top: 3px;
    width: 100%;
}

#cannedQueries {
    padding-left: 0px;
}

.accordianListitem {
    /* display: inline; */
    white-space: nowrap;
  }

/* The side navigation menu */

span>input{
    size: 5;
}

.sideNav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #a6d8ff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.35s;
    /* 0.5 second transition effect to slide in the sidenav */
    overflow-y: hidden;
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: rgba(26, 26, 26, 0.81);
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #111;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 10px;
    margin: 0px 5px;
    height: 85vh;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#saveAs {
    margin-right: 15px;
}

#editor {}
