#joinDropDownDivLeft {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  /*width:30%; */
}
#joinDropDownDivLeft ul {
  -moz-padding-start:0;
  -webkit-padding-start:0;
  padding-start:0;
  padding:0;
  margin: 0px;
 /* margin-left:30%; /* new */
  list-style: none;
  width: 250px;
}
#joinDropDownDivLeft ul li {
  background-color: #e8e8e8;
  margin-bottom: 2px;
  height:20px;
}
#joinDropDownDivLeft ul li a {
  text-decoration: none;
  /*display: inline-block; */
}

/*#joinDropDownDivLeft ul li a {
  color: #8ae234;
} */

#joinDropDownDivLeft ul li ul {
  display: none;
  position: relative;  /*used to be absolute */
  width: 180px;
  height:200px;
  background-color: #e2e2e2;
  white-space: nowrap;
  /*margin-left:30%; /* new */
  /*height:23px; */
  overflow-y:auto;
  overflow-x:auto;
  left: 210px;  /* orig left: 260px; */
  padding-left: 0px;
  margin-top:-20px;
}
#joinDropDownDivLeft li li {
  min-width: 180px;
  postition: relative;

}
#joinDropDownDivLeft ul ul li {
  position: relative;


}
#joinDropDownDivLeft ul ul ul {
  left:0;
  top:40px;
  position:absolute;
  background-color: #333;
}
#joinDropDownDivLeft ul ul ul li {background-color: #333;}

#joinDropDownDivLeft ul ul ul a {
  color: #fff;
}


#joinDropDownDivLeft ul li a{
  margin-left:14%;
}

#joinDropDownDivLeft ul li input {
  float:left;
}

/*#joinDropDownDivLeft ul li a:hover > ul {
  display: block;
} */


/* model flex containters for side by side THIS DOESN"T WORK*/

.flex-container {
    display: none;
    /* display: flex; */
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}

.flex-child:first-child {
    margin-right: 20px;
}