html,
body {
  height: 100%;
  width: 100%;
}

.fade.in {
  display: block;
}

.fade {
  display: none;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.customFileUpload{
    font-size:13px;

}

.float-child_search {
    width: 35%;
    float: left;
    padding: 20px;
    border: 1px solid lightslategrey;

}

.float-child {
    width: 65%;
    float: left;
    padding: 20px;
    border: 1px solid lightslategrey;
}


.modal-guts {

  /* other stuff we already covered */

  /* cover the modal */
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;

  /* spacing as needed */
  padding: 20px 50px 20px 20px;

  /* let it scroll */
  overflow: auto;

}

.on {
border:2px inset;
color:#300;
background:#efefef;
}

.off {
border:1px outset;
color:#369;
background:#efefef;
}


.leftPaneDiv{
  left:18px;
  padding-left:18px;
  width:410px;
  overflow:auto;

}

.leftPaneDiv_Plots{
  left:18px;
  padding-left:18px;
  width:442px;
  overflow:auto;

}

.species-select{
   width: 150px;

}


.btn-group select { margin: 0 9px; border-radius: 6px; } /* for select in advanced view */


/*li {
  display: flex;
  margin: 1px;
  padding: 5px;
  background: #aaa;
} */

#clearQueryButton{
    border-radius: .2em;
    height:50px;

}

#submitButton{
    border-radius: .2em;
    height:50px;
}

#fileLabel {
    border-radius: .2em;
    height:50px;
}

.fileContainer {
    overflow: hidden;
   position: relative;

}


.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 23px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 230px;
    text-align: right;
    top: 0;
}

.fileContainer {
    border: 1px solid black;
    background-color: white;
    border-radius: .2em;
    float: right;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}
.save-select{
   width: 120px;

}

#title {
  color: white;
}

#mainNavBar{
  background-color: #e3f2fd;
}


div.editable {
    width: 300px;
    height: 1200px;
    border: 1px solid #ccc;
    padding: 5px;
}



/*svg {
  border: 1px solid silver;
  width: 1600px;
} */

.node {
  cursor: pointer;
}

.node circle {
  stroke: steelblue;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: lightgray;
  stroke-width: 1.5px;
}

div#mainDisplay{
  padding: 0px;

}

#Google-Map-Simple {

  font-size: 10.5px;
  height: 600px;
  width: 94%;
  float: right;

}
/* ........................................ */
@media only screen and (min-height: 1500px) {
    #Google-Map-Simple{

        height:1000px;

    }
}

@media only screen and (min-height: 1500px) {
    #resultTextAreaSimple_parent{
        height:1000px;
    }
}

@media only screen and (max-height: 1000px) {
    #resultTextAreaSimple_parent{
        height:420px;
    }

    #Google-Map-Simple{
        height:500px
    }
}

@media only screen and (max-height: 800px) {
    #resultTextAreaSimple_parent{
        height:320px;
    }

    #Google-Map-Simple{
        height:400px
    }
}




/* ........................................ */
@media screen and ( max-width: 1920px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1485px;
     float: right;
  }
}


@media screen and ( max-width: 1865px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1375px;
     float: right;
  }
}

@media screen and ( max-width: 1780px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1304px;
     float: right;
  }
}

@media screen and ( max-width: 1738px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1275px;
     float: right;
  }
}


@media screen and ( max-width: 1700px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1175px;
     float: right;
  }
}


@media screen and ( max-width: 1600px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 1050px;
     float: right;
  }
}


@media screen and ( max-width: 1500px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 950px;
     float: right;
  }
}


@media screen and ( max-width: 1400px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 860px;
     float: right;
  }
}

@media screen and ( max-width: 1300px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 777px;
     float: right;
  }
}

@media screen and ( max-width: 1200px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 624px;
     float: right;
  }
}

@media screen and ( max-width: 1040px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 520px;
     float: right;
  }
}


@media screen and ( max-width: 1000px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 450px;
     float: right;
  }
}

@media screen and ( max-width: 840px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 360px;
     float: right;
  }
}


@media screen and ( max-width: 800px ) {
  #Google-Map-Simple, #resultTextAreaSimple_parent, #openButDiv{
     width: 250px;
     float: right;
  }
}



#plots{
  width:400px;

}

#PlotsContainer {
  position: absolute;
  top: 105px;
  left: 460px;
  width: 900px;
  height: 600px;

}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;
}

/*.form-control {
  height: auto !important;
} */



#Google-Map-Advanced, #queryView {
  font-size: 10.5px;
  height: 600px;
  /*width: 100%; this didn't seem to be doing anything probably because of mainDisplay div */
}
/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-height: 1500px) {
    #queryViewTextArea, #treeSVG, #Google-Map-Advanced, #resultTextArea{
     height: 1000px;
  }
  #mainDisplay{
     height: 1060px;
  }
}
/* --------------------------------------------------- */
@media screen and ( max-height: 1000px ) {
  #queryViewTextArea, #treeSVG, #Google-Map-Advanced, #resultTextArea{
     height: 500px;
  }
}

@media screen and ( max-height: 1000px ) {
  #mainDisplay{
     height: 560px;
  }
}


@media screen and ( max-height: 800px ) {
  #queryViewTextArea, #treeSVG, #Google-Map-Advanced, #resultTextArea{
     height: 400px;
  }
}

@media screen and ( max-height: 800px ) {
  #mainDisplay{
     height: 460px;
  }
}

@media screen and ( max-height: 600px ) {
  #queryViewTextArea, #treeSVG, #Google-Map-Advanced, #resultTextArea{
     height: 300px;
  }
}

@media screen and ( max-height: 600px ) {
  #mainDisplay{
     height: 360px;
  }
}





#treeStructureBox {
    font-size: 12.5px;
    height: 600px;

}



.search {
  width: 80%;
}

#refresh {
  width: 20%;
  height: 28px;
}

#close{
  text-align: right;
}

#modal-error{
  color: red;
}

#myTab{
  background-color: #e3f2fd;
}

li.whereCondition {
  /* display: inline; */
  white-space: nowrap;
  border: 1px black solid;
}

.li-select{
  width: 50%;
}

.sortable{
  padding-top: 25px;
  padding-bottom: 25px;
}

li.whereView{
  display: flex;
}
li>select.conjunction.custom-select{  
  width: 77px;
}

li>div.input-group-prepend{
  /*width: fit-content;*/
  flex: 0 0 auto;
}

li>select.complex.custom-select{
  width: 80px; 
  flex: 0 0 auto;
}

li>input.ui-autocomplete-input{
  /*width: 40%; */
  flex: 1 1 auto;
}

li>div.input-group-append{
  /* width: auto; */
  flex: 0 0 auto;
}


ul{
  list-style-type: none;
}

ul.bullet {
 list-style-type: square;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackBar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #343a40; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 10; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 150px; /* 150px from the bottom */
}

.toggled-background{
  background-color: #3498db;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackBar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 150px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 150px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 150px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 150px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
} 

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 25px;
    border: 2px dashed rgba(0, 0, 100, 0.4);
    border-radius: 3px;
    transition: 0.2s;
    background-color: cornflower-blue;

}


.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(0, 0, 100, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 20px 20px;
  margin-right: 10px;
}

.file-message {
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

}
